:root {
  --Primario: #FF6F61;
  --Secundario: #FFEB3B;
  --Fondo: #fdf5d8;
  --Texto: #000000;
}

body {
  background-color: var(--Fondo);
}

/* NavBar */

header {
  background-color: var(--Primario);
}

header nav ul li a {
  color: var(--Texto) !important;
  font-family: "Inter";
  font-weight: 800;
  padding-left: 6px;
}

header nav ul li a:hover {
  border-left: 3px solid var(--Texto);
}


#aIniciarSesion, #aRegistrarse {
  color: blue; 
  cursor: pointer;
  text-decoration: underline;

}

#aIniciarSesion:hover, #aRegistrarse:hover {
  color: rgb(0, 0, 149);
}
