:root {
  --Primario: #FF6F61;
  --PrimarioHover: #ff3321;
  --Secundario: #FFEB3B;
  --Fondo: #fdf5d8;
  --Texto: #000000;
  --Blanco: #fff;
}

body {
  background-color: var(--Fondo);
  font-family: "Inter";
}

/* NavBar */

header {
  background-color: var(--Primario);
}

header nav ul li a {
  color: var(--Texto) !important;
  font-weight: 800;
  padding-left: 6px;
}

header nav ul li a:hover {
  border-left: 3px solid var(--Texto);
}


/* Registro */

.btn-primary {
  background-color: var(--Primario);
  border: 1px solid var(--Primario);
  font-weight: 500;
}

.btn-primary:hover, .btn-primary:active {
  background-color: var(--PrimarioHover) !important;
  border: 1px solid var(--PrimarioHover) !important;
}

#aIniciarSesion, #aRegistrarse {
  color: blue; 
  cursor: pointer;
  text-decoration: underline;

}

#aIniciarSesion:hover, #aRegistrarse:hover {
  color: rgb(0, 0, 149);
}

#registro h1, #inicioSesion h1 {
  font-weight: 700;
}