

#aIniciarSesion, #aRegistrarse {
  color: blue; 
  cursor: pointer;
  text-decoration: underline;

}

#aIniciarSesion:hover, #aRegistrarse:hover {
  color: rgb(0, 0, 149);
}



header {
  background-color: gray;
}